:root {
  /* colors */
  --color-white: #FFFFFF;
  --blue-grey: #212830;
  --blue-light: #D5E4F7;
  --black-primary: #333;
  --color-purple: #5558FA;


  --background-color-light-blue: #2980b9;
  --background-color-light-blue-hover: #7caece;
    
  --background-color-blue: #171f42;
  --color-grey: #7b8e98;
  --color-black: #000;
  --color-light-grey: #E0E0E0;
  --color-dark-grey: #828282;
  --border-line: #E5EAF2;


  
}